<!-- 
#Title:     Example Driver
 -->

 <!DOCTYPE html>
<html>

<head>
    <title>Example-Driver</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
     <!-- leaflet CSS file -->
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
   <!--  CSS for Leaflet Routing -->
    <link rel="stylesheet" type="text/css" href="/css/leaflet-routing-machine.css" />
  <!--   CSS for Setview button -->
    <link rel="stylesheet" type="text/css" href="/css/easy-button.css" />
   <!--  Including the font-awesome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<style>
html,
body,
#map {
    margin: 0;  /*Setting margin,height and width of Map-container which holds the map */
    width: 100%;
    height: 100%;
}
</style>

<body>
    <div id="map"></div>
      <!--JS -->
       <!--  Loading leaflet JS file -->
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
       <!--   JS for locate button -->
    <script type="text/javascript" src="/js/easy-button.js"></script>
     <!--  Loading configuration file  -->
    <script type="text/javascript" src="/config/config.js"></script>
      <!--  JS for Leaflet Routing -->
    <script type="text/javascript" src="/js/leaflet-routing-machine.js"></script>
     <!--  JS for rotating the marker icon -->
    <script type="text/javascript" src="/js/Marker.Rotate.js"></script>
     <!-- JS for moving the marker icon -->
    <script type="text/javascript" src="/js/MovingMarker.js"></script>
      <!-- JS for socket connection -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- Corresponding JS file of driver -->
    <script type="text/javascript" src="/js/drive.js"></script>
</body>

</html>
