<!-- 
#Title:     Example Faker
 --><!DOCTYPE html>

 
<html>

<head>
    <title>Example-Faker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/css/easy-button.css" />
     <link rel="stylesheet" type="text/css" href="/css/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<style>
html,
body,
#map {
    margin: 0;
    width: 100%;
    height: 100%;
}
</style>

<body>
    <div id="map"></div>
    <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script type="text/javascript" src="/js/easy-button.js"></script>
    <script type="text/javascript" src="/config/config.js"></script>
    <script type="text/javascript" src="/js/leaflet-routing-machine.js"></script>
    <script type="text/javascript" src="/js/Marker.Rotate.js"></script>
    <script type="text/javascript" src="/js/MovingMarker.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/faker.js"></script>
</body>

</html>
